/*
 1. VARIABLES
 2. CORE
 3. BUTTONS & FORMS
 4. NAVIGATION
 5. MOBILE VERSION
 6. HEADER
 7. FOOTER
 8. ABOUT US PAGE
 9. BLOG
 10. SERVICES PAGE
 */


/** 1. VARIABLES **/
@import "variables"


/** 2. CORE **/
html
  font-size: 15px

body
  margin: 0
  font-family: "Montserrat", sans-serif
  font-weight: normal
  line-height: 1.5
  color: #212529
  text-align: left
  background-color: #F5F5F5

p
  margin-bottom: 30px

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  font-family: 'Montserrat', sans-serif
  font-weight: 900
  letter-spacing: 2px
  color: $grey
h4
  margin-bottom: 30px

a
  color: $link-color
  text-decoration: none
  background-color: transparent
  -webkit-text-decoration-skip: objects
  &:hover
    color: #d4a34c
    text-decoration: underline

.grey
  color: $grey !important

.gold
  color: $link-color !important

section, footer
  padding: 60px 0
section.white
  background-color: white

.our-services
  background: url(../img/icons/feather.png) no-repeat 7% center
  background-size: auto 100%

.we-care
  background: url(../img/icons/shield.png) no-repeat 7% center
  background-size: auto 100%

.consultation
  background: url(../img/icons/scales.png) no-repeat 7% center
  background-size: auto 100%

.gold-bg
  display: inline-block
  background-color: $link-color
  margin: 20px 0 15px 0
  padding: 10px 15px
  color: white
  font-weight: bold

.white-bg
  background-color: white !important

.no-margin
  margin: 0 !important

.margintop15
  margin-top: 15px !important

.margintop30
  margin-top: 30px !important

.bg-darker
  background-color: black
  opacity: 0.5
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0
  margin: 0 !important


/** 3. BUTTONS & FORMS **/
.btn
  border-radius: 0
  height: 42px
  text-transform: uppercase
  letter-spacing: 1px
  padding: 0 40px
  line-height: 42px
  
.btn-primary
  color: white !important
  background-color: $link-color
  border-color: $link-color
  background-image: none
  box-shadow: none
  text-shadow: none
  &:hover, &:focus, &:active
    background-color: #dcb36b !important
    border-color: #d9ae61 !important
  &:focus, &.focus, &:active
    box-shadow: 0 0 0 3px rgba(227, 195, 138, 0.5) !important
  &.disabled, &:disabled
    background-color: $link-color
    border-color: $link-color
  &:active, &.active,
  .show > &.dropdown-toggle
    background-color: #dcb36b !important
    background-image: none
    border-color: #d9ae61 !important

.btn-outline-primary
  color: $link-color
  background-color: transparent
  background-image: none
  border-color: $link-color
  &:hover, &:active
    color: #fff
    background-color: $link-color !important
    border-color: $link-color !important
  &:focus, &.focus, &:active
    box-shadow: 0 0 0 3px rgba(227, 195, 138, 0.5) !important
  &.disabled, &:disabled
    color: $link-color
    background-color: transparent
  &:active, &.active,
  .show > &.dropdown-toggle
    color: #fff
    background-color: $link-color
    border-color: $link-color

.btn-outline-secondary
  color: #868e96
  background-color: transparent
  background-image: none
  border-color: #868e96
  &:hover
    color: #fff
    background-color: #868e96
    border-color: #868e96
  &:focus, &.focus
    box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5)
  &.disabled, &:disabled
    color: #868e96
    background-color: transparent
  &:active, &.active,
  .show > &.dropdown-toggle
    color: #fff
    background-color: #868e96
    border-color: #868e96

input
  background-color: transparent
  border-left: none
  border-top: none
  border-right: none
  padding: 5px 0
  outline: none
  &:focus
    border-color: $link-color !important

.input-error
  border-color: red !important

.free-consultation-form
  form
    margin: 30px 0
  input
    width: 100%
  button
    margin-top: 30px



/** 4. NAVIGATION **/
.nav-item
  text-transform: uppercase
  color: white
  .nav-link
    display: inline-block
    font-weight: 700
    color: white
    margin: 0 10px 10px 10px
    padding: 10px 10px 12px 10px
    &:hover, &.active
      border-bottom: 2px solid $link-color
      padding-bottom: 10px


.navbar
  padding: 20px 3%
  background: transparent

.navbar-collapse
  justify-content: flex-end

.navbar-toggler-icon
  color: white
  &:hover
    cursor: pointer



/** 5. MOBILE VERSION **/
@media (max-width: 768px)
  .article-big
    margin-left: -15px
    margin-right: -15px

  .services-list
    h4
      text-align: center
    ul
      text-align: center
      padding-left: 0
      li
        margin-top: 15px
        &:before
          display: none
    .btn
      margin-bottom: 30px

  .subscribe-block
    input
      margin: 30px 0

  .nav-link
    display: inline-block
    &.active
      border-bottom: none !important
    &:hover
      border-bottom: none !important
      background-color: white
      color: $link-color

  .subscribe-block
    h3
      white-space: normal



/** 6. HEADER **/
header
  position: relative
  text-align: center
  color: $grey
  background-color: black
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  &.index
    background-image: url(../img/bg/index.png)
  &.blog
    background-image: url(../img/bg/blog.png)
  &.contact-us
    background-image: url(../img/bg/contact.png)
  &.about-us
    background-image: url(../img/bg/about.png)
  &.services
    background-image: url(../img/bg/services.png)

  nav
    z-index: 1
  .navbar-brand
    img
      max-width: 100%
  .block
    position: relative
    z-index: 1
    padding: 150px 0
    text-transform: uppercase
    font-size: 1.2rem
    h2
      color: white
    a,button
      margin-top: 30px


.subscribe-block
  color: white
  background-image: url(../img/bg/owl.png)
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  h3
    white-space: nowrap
    text-transform: none
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    margin: 0
    line-height: 42px
    color: white
    span
      font-family: 'Montserrat', sans-serif
      font-weight: 900
  input
    width: 100%
    background: transparent
    border: 2px solid $grey
    color: $grey
    padding: 17px 20px
    height: 42px
  button
    width: 100%
    padding-left: 50px
    padding-right: 50px

.topbar
  background-color: #212121
  color: $grey
  padding: 8px 0.5rem 8px 0

.card-shadow
  font-size: 1.1rem
  display: block
  position: relative
  left: 0
  background-color: white
  width: 100%
  margin-top: -120px
  margin-bottom: 50px
  z-index: 100
  padding: 5% 10%
  -webkit-box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
  -moz-box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
  box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
  p:last-of-type
    margin-bottom: 0


/** 7. FOOTER **/
footer
  background-color: $footer-bg
  color: white
  h5
    color: white
    &:first-letter
      color: $link-color



/** 8. ABOUT US PAGE **/
.team
  b.name
    display: block
    font-size: 1.2rem
    margin: 15px 0

.portrait
  padding-left: 10%
  padding-top: 20px
  position: relative
  display: block
  img
    width: 100%
    z-index: 2
    position: relative
    -webkit-box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
    -moz-box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
    box-shadow: 0 10px 52px -2px rgba(0,0,0,0.23)
  .bg-gold
    background-color: $link-color
    position: absolute
    display: block
    width: 90%
    height: 90%
    top: 0
    left: 0


/** 9. BLOG **/
.article-list
  img
    width: 100%
  .row
    margin-top: 15px


.blog-container
  .paginator
    display: flex
    align-items: center
    justify-content: center
  .article
    color: white
    background-size: cover
    padding: 10%
    position: relative
    a, small, p, h1
      position: relative
      z-index: 1
    h1
      color: white
      font-weight: normal
      text-transform: none
  .white-bg
    padding: 15px


.article-small
  padding-top: 30% !important


/** 10. SERVICES PAGE **/
.service-icon
  display: block !important
  color: $link-color
  font-size: 38px !important
  margin-bottom: 15px

div.services
  text-align: center
  div
    margin: 15px 0

.card-services
  span
    display: block
    text-transform: uppercase
  small
    color: $grey

.services-list, .services-list-small
  margin-top: 30px
  b
    display: block
    text-transform: uppercase
    margin-bottom: 15px
  ul
    list-style-type: none
    margin-top: 15px
    padding: 0
    li
      position: relative
  button
    margin-top: 30px


.services-list-small
  ul
    text-align: left
    margin-bottom: 15px
    li
      text-align: center


.services-list
  ul
    text-align: left
    margin: 0 0 30px 0
    li
      text-align: left
      &:before
        content: "\2014"
        margin-right: 10px
  h4
    color: black
    font-weight: normal
    &:first-letter
      color: $link-color